@charset "UTF-8";

header, header > nav{
    flex-flow: column nowrap;
}

#burguer{
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    font-size: 2em;
    text-shadow: 0px 0px 5px black;
}
#itens{
    display: none;
}
#itens.active{
    display: block;
}
header > h1{
    flex-basis: 65px;
}
header{
    height: 70px;
}

header > nav > a{
    width: 90vw;

}