@charset "UTF-8";
:root {
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(35, 35, 35);
}

header {
    text-align: center;
    background-color: rgb(220, 220, 220);
    padding-bottom: 40px;
    border-radius: 0px 0px 15px 15px;
}

main {
    font-family: var(--font-padrao);
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    background-color: rgb(220, 220, 220);
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
}

