@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: 80px 40px 400px 50px;
    grid-template-columns: repeat(4, 1fr);
}

.topo{
    background-color: gray;
    text-align: center;
    grid-area: 1/1/1/5;
}

.menu{
    background-color: rgb(66, 66, 66);
    grid-area: 2/1/2/5;
}

.principal{
    background-color:  rgb(224, 224, 224);
    grid-area: 3/1/6/4;
}

.secundario{
    background-color: bisque;
    grid-area: 3/4/4/5;
}

.rodape{
    background-color: rgb(32, 32, 32);
    grid-area: 4/1/4/5;
}
 